body {
  font-family: var(--font-manrope), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

:root {
  --color-white: #ffffff;
  --color-black: #121417;
  --color-accent: #3470ff;
  --color-hover: #0b44cd;
  --color-background: #f3f3f2;
}
